a{
	border: 000000;
}

footer {
	background: #000;
 	color: #FFF;
  	text-transform: uppercase;
  	padding: 40px 0px 20px 0px; 
}
footer .container {
    text-align: center; 
}
footer .container hr {
	width: 40%;
	margin: 10px auto; 
}
footer .container .need-help a {
	color: #979797; 
}
footer .container .need-help, footer .container .contactus {
	font-size: 12px; 
}
footer .container .social-media {
	margin-bottom: 20px; 
}
footer .container .social-media a {
	padding: 0px 10px; 
}
footer .container .social-media a img {
	width: 40px;
	max-width: 100%;
}
@media (max-width: 767px) {
    footer .container hr {
    	width: 100%; 
    } 
}